.git
.github
.env
.env.*
!.env.example
!.env.production.example
node_modules
vendor
public/build
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
tests
phpunit.xml
docker-compose*.yml
compose*.yml
.idea
.vscode
.DS_Store
npm-debug.log
yarn-error.log
coverage
